<% layout('layouts/boilerplate') %> 
<!-- 위 경로의 ejs파일을 불러오기 -->
<link rel="stylesheet" href="/stylesheets/start.css">

<div class="row">
  <div class="col-6">

    
    <div id='map' style='width: 400px; height: 300px;'></div>

    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <% a_campground.images.forEach((img, idx) => { %>
          <div class="carousel-item <%= idx === 0 ? 'active' : '' %>">
            <img class="d-block w-100" src="<%= img.url %>" alt="<%= img.filename %>">
          </div>
        <% }) %>  
      </div>
      <% if(a_campground.images.length > 1) {%>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      <% } %>  
    </div>

    <div class="card mb-3">
      <div class="card-body">
        <h5 class="card-title"><%= a_campground.title %></h5>
        <p class="card-text"><%= a_campground.description %></p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item"><%= a_campground.location %></li>
        <li class="list-group-item text-muted">Submitted by <%= a_campground.author.username %> </li>
        <li class="list-group-item">₩<%= a_campground.price %>/night</li>
      </ul>
      <% if(currentUser && a_campground.author.equals(currentUser._id)) {%> 
      <div class="card-body d-flex">
        <a href="/campgrounds/<%= a_campground._id %>/edit" class="card-link btn btn-warning" style="display: inline-block; margin-right: 20px;">Edit</a>
        <form action="/campgrounds/<%= a_campground._id%>?_method=DELETE" method="POST">
          <button class="btn btn-danger">Delete</button>
        </form>
      </div>
      <% } %> 
      <div class="card-footer text-muted">
        <a href="/campgrounds">Back</a>
      </div>
    </div>

  </div>

  <div class="col-6">
    <% if(currentUser) {%> 
    <h2>Leave a Review</h2>
    <form action="/campgrounds/<%= a_campground._id %>/reviews" method="POST" novalidate class="validated-form mb-4">
      <div class="mt-3">
        <fieldset class="starability-heart">
          <input type="radio" id="no-rate" class="input-no-rate" name="review[rating]" value="5" checked aria-label="No rating." />
          <input type="radio" id="second-rate1" name="review[rating]" value="1" />
          <label for="second-rate1" title="Terrible">1 star</label>
          <input type="radio" id="second-rate2" name="review[rating]" value="2" />
          <label for="second-rate2" title="Not good">2 stars</label>
          <input type="radio" id="second-rate3" name="review[rating]" value="3" />
          <label for="second-rate3" title="Average">3 stars</label>
          <input type="radio" id="second-rate4" name="review[rating]" value="4" />
          <label for="second-rate4" title="Very good">4 stars</label>
          <input type="radio" id="second-rate5" name="review[rating]" value="5" />
          <label for="second-rate5" title="Amazing">5 stars</label>
        </fieldset>
      </div>
      <div class="mb-3">
        <label class="form-label" for="body">Review:</label>
        <textarea class="form-control" name="review[body]" id="body" cols="30" rows="5" required></textarea>
        <div class="valid-feedback">
          Thank you for your review!
        </div>
      </div>
      <button class="btn btn-success">Submit</button>
    </form>
    <% } %> 

    <% for(let review of a_campground.reviews) {%> 
      <div class="card mb-3">
        <div class="card-body">
          <h5 class="card-title">User: <%= review.author.username %> </h5>
          <p class="starability-result" data-rating="<%= review.rating %>">
            Rated: <%= review.rating %> stars
          </p>
          <p class="card-text"><%= review.body %> </p>
          <% if(currentUser && review.author.equals(currentUser._id)) {%> 
          <form action="/campgrounds/<%= a_campground._id%>/reviews/<%=review._id%>?_method=DELETE" method="POST">
            <button class="btn-sm btn-danger">Delete</button>
          </form>
          <% } %> 
        </div>
      </div>
    <% } %> 
  </div>
</div>


<script>
  const mapToken = '<%= process.env.MAPBOX_TOKEN %>'
  const a_campground = <%- JSON.stringify(a_campground) %>
</script>
<script src="/showPageMap.js"></script>